.toggle-check {
  margin-block: 0.5rem;

  input {
    appearance: none;
  }

  .toggle-check-values {
    --toggle-check-radius: 2rem;
    --toggle-check-active-bg: var(--stanford-digital-blue);
    --toggle-check-inactive-color: var(--stanford-digital-blue);

    display: inline-block;

    .yes,
    .no {
      padding-inline: 1rem;
      padding-block: 0.375rem;
      display: inline;
    }

    .yes {
      color: var(--toggle-check-inactive-color);
      border-block: 1px solid var(--toggle-check-active-bg);
      border-inline-start: 1px solid var(--toggle-check-active-bg);
      border-start-start-radius: var(--toggle-check-radius);
      border-end-start-radius: var(--toggle-check-radius);
    }

    .no {
      color: var(--bs-body-bg);
      border-block: 1px solid var(--toggle-check-active-bg);
      border-inline-end: 1px solid var(--toggle-check-active-bg);
      background-color: var(--toggle-check-active-bg);
      border-start-end-radius: var(--toggle-check-radius);
      border-end-end-radius: var(--toggle-check-radius);
    }
  }

  input:disabled + .toggle-check-values {
    --toggle-check-active-bg: var(--stanford-50-black);
    --toggle-check-inactive-color: var(--stanford-50-black);
  }

  input:checked + .toggle-check-values {
    .yes {
      color: var(--bs-body-bg);
      background-color: var(--toggle-check-active-bg);
    }

    .no {
      color: var(--toggle-check-inactive-color);
      background-color: var(--bs-body-bg);
    }
  }

  input:checked:not(:disabled) + .toggle-check-values {
    .no:hover {
      color: var(--bs-body-bg);
      background-color: var(--stanford-digital-blue-dark);
    }
  }

  input:not(:disabled) + .toggle-check-values {
    .yes:hover {
      color: var(--bs-body-bg);
      background-color: var(--stanford-digital-blue-dark);
    }
  }
}
