.alert {
  --bs-link-decoration: underline;

  a {
    color: var(--bs-alert-color);
  }

  a .bi::before {
    line-height: var(--bs-body-line-height);
  }
}

.alert-warning,
.alert-note {
  a {
    color: var(--bs-body-color);
  }
}

.alert-note {
  --bs-alert-bg: rgba(var(--stanford-illuminating-dark-rgb), 10%);
  --bs-alert-color: rgb(var(--stanford-illuminating-dark-rgb));
  --bs-alert-border-color: rgb(var(--stanford-illuminating-dark-rgb));
}

/* Banner styles */
.banner {
  --bs-banner-bg: none;
  --bs-banner-padding-x: 16px;
  --bs-banner-padding-y: 16px;
  --bs-banner-margin-bottom: 1rem;
  --bs-banner-color: inherit;
  --bs-banner-border-color: transparent;
  --bs-banner-border: var(--bs-border-width) solid var(--bs-banner-border-color);
  --bs-banner-border-radius: none;
  --bs-banner-link-color: inherit;

  position: relative;
  padding: var(--bs-banner-padding-y) var(--bs-banner-padding-x);
  margin-bottom: var(--bs-banner-margin-bottom);
  color: var(--bs-banner-color);
  background-color: var(--bs-banner-bg);
  border: var(--bs-banner-border);
  border-radius: var(--bs-banner-border-radius);
  border-left: 4px solid var(--bs-banner-border-color);
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.banner-primary {
  --bs-banner-color: var(--bs-primary-text-emphasis);
  --bs-banner-border-color: var(--bs-primary-border-subtle);
  --bs-banner-link-color: var(--bs-primary-text-emphasis);
}

.banner-secondary {
  --bs-banner-color: var(--bs-secondary-text-emphasis);
  --bs-banner-border-color: var(--bs-secondary-border-subtle);
  --bs-banner-link-color: var(--bs-secondary-text-emphasis);
}

.banner-success {
  --bs-banner-color: var(--bs-success-text-emphasis);
  --bs-banner-border-color: var(--bs-success-border-subtle);
  --bs-banner-link-color: var(--bs-success-text-emphasis);
}

.banner-info {
  --bs-banner-color: var(--bs-info-text-emphasis);
  --bs-banner-border-color: var(--bs-info-border-subtle);
  --bs-banner-link-color: var(--bs-info-text-emphasis);
}

.banner-note {
  --bs-banner-color: rgb(var(--stanford-illuminating-dark-rgb));
  --bs-banner-border-color: rgb(var(--stanford-illuminating-dark-rgb));
  --bs-banner-link-color: var(--stanford-illuminating-dark-rgb);
}

.banner-warning {
  --bs-banner-color: var(--bs-warning-text-emphasis);
  --bs-banner-border-color: var(--bs-warning-border-subtle);
  --bs-banner-link-color: var(--bs-warning-text-emphasis);
}

.banner-danger {
  --bs-banner-color: var(--bs-danger-text-emphasis);
  --bs-banner-border-color: var(--bs-danger-border-subtle);
  --bs-banner-link-color: var(--bs-danger-text-emphasis);
}

.banner-light {
  --bs-banner-color: var(--bs-light-text-emphasis);
  --bs-banner-border-color: var(--bs-light-border-subtle);
  --bs-banner-link-color: var(--bs-light-text-emphasis);
}

.banner-dark {
  --bs-banner-color: var(--bs-dark-text-emphasis);
  --bs-banner-border-color: var(--bs-dark-border-subtle);
  --bs-banner-link-color: var(--bs-dark-text-emphasis);
}

.banner h3 {
  padding-right: var(--bs-banner-padding-x);;

  .heading-tag {
    font-weight: normal;
    font-size: 0.8em;
    color: var(--bs-banner-link-color);
    border-left: .5em solid var(--bs-banner-border-color);
    margin-left: 1em;
  }
}

.banner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  font-weight: bold;
}
