:root {
  --bs-blue: var(--stanford-sky-dark);
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: var(--stanford-digital-red);
  --bs-orange: var(--stanford-poppy-dark);
  --bs-yellow: var(--stanford-illuminating-dark);
  --bs-green: var(--stanford-palo-alto-dark);
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: var(--stanford-black);
  --bs-white: #fff;
  --bs-gray: var(--stanford-70-black);
  --bs-gray-dark: var(--stanford-90-black);
  --bs-gray-100: var(--stanford-10-black);
  --bs-gray-200: var(--stanford-20-black);
  --bs-gray-300: var(--stanford-30-black);
  --bs-gray-400: var(--stanford-40-black);
  --bs-gray-500: var(--stanford-50-black);
  --bs-gray-600: var(--stanford-60-black);
  --bs-gray-700: var(--stanford-70-black);
  --bs-gray-800: var(--stanford-80-black);
  --bs-gray-900: var(--stanford-90-black);
  --bs-primary: rgb(var(--stanford-digital-blue-rgb));
  --bs-secondary: rgb(var(--stanford-cardinal-rgb));
  --bs-success: rgb(var(--stanford-digital-green-dark-rgb));
  --bs-info: rgb(var(--stanford-digital-blue-dark-rgb));
  --bs-warning: rgb(var(--stanford-poppy-rgb));
  --bs-danger: rgb(var(--stanford-digital-red-dark-rgb));
  --bs-light: var(--stanford-10-black);
  --bs-dark: var(--stanford-90-black);
  --bs-primary-rgb: var(--stanford-digital-blue-rgb);
  --bs-secondary-rgb: var(--stanford-cardinal-rgb);
  --bs-success-rgb: var(--stanford-digital-green-dark-rgb);
  --bs-info-rgb: var(--stanford-digital-blue-dark-rgb);
  --bs-warning-rgb: var(--stanford-poppy-rgb);
  --bs-danger-rgb: var(--stanford-digital-red-dark-rgb);
  --bs-light-rgb: var(--stanford-10-black-rgb);
  --bs-dark-rgb: var(--stanford-90-black-rgb);
  --bs-primary-text-emphasis: rgb(var(--stanford-digital-blue-dark-rgb));
  --bs-secondary-text-emphasis: rgb(var(--stanford-digital-red-dark-rgb));
  --bs-success-text-emphasis: rgb(var(--bs-success-rgb));
  --bs-info-text-emphasis: rgb(var(--bs-info-rgb));
  --bs-warning-text-emphasis: rgb(var(--bs-warning-rgb));
  --bs-danger-text-emphasis: rgb(var(--bs-danger-rgb));
  --bs-light-text-emphasis: var(--stanford-60-black);
  --bs-dark-text-emphasis: var(--stanford-60-black);
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: rgba(var(--bs-success-rgb), 10%);
  --bs-info-bg-subtle: rgba(var(--bs-info-rgb), 10%);
  --bs-warning-bg-subtle: rgba(var(--bs-warning-rgb), 10%);
  --bs-danger-bg-subtle: rgba(var(--bs-danger-rgb), 10%);
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: rgb(var(--bs-success-rgb));
  --bs-info-border-subtle: rgb(var(--bs-info-rgb));
  --bs-warning-border-subtle: rgb(var(--bs-warning-rgb));
  --bs-danger-border-subtle: rgb(var(--bs-danger-rgb));
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: var(--stanford-black-rgb);
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-color: var(--stanford-black);
  --bs-body-color-rgb: var(--stanford-black-rgb);
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33 37 41 / 75%);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33 37 41 / 50%);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: var(--stanford-digital-blue);
  --bs-link-color-rgb: var(--stanford-digital-blue-rgb);
  --bs-link-decoration: none;
  --bs-link-hover-color: var(--stanford-digital-blue-dark);
  --bs-link-hover-color-rgb: var(--stanford-digital-blue-dark-rgb);
  --bs-link-hover-decoration: underline;
  --bs-code-color: var(--stanford-digital-red-light);
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-form-valid-color:  var(--stanford-digital-green);
  --bs-form-valid-border-color: var(--stanford-digital-green);
  --bs-form-invalid-color: var(--stanford-digital-red);
  --bs-form-invalid-border-color: var(--stanford-digital-red);
}
