.facets {
  background-color: var(--stanford-fog-light);
  border-radius: 4px;
  padding-block-end: 4px;

  .facets-heading {
    font-size: 1.75rem;
    padding-top: 0.5rem;
    padding-inline-start: 0.5rem;
  }
  .card {
    /* --bs-card-border-radius: 0; */
    --bs-border-radius: 0;
    --bs-card-bg: transparent;
    --bs-card-cap-bg: transparent;
    border-inline: none;
    border-block-end: none;

    margin-bottom: 0; /* this is necessary to override Blacklight */

    .facet-select {
      color: var(--bs-body-color);
    }

    &.facet-limit-active {
      --bs-card-cap-bg: color-mix(
        in srgb,
        var(--stanford-70-black) 10%,
        transparent
      );

      /* these rules are to override blacklights style of the element, which uses !important */
      /* https://github.com/projectblacklight/blacklight/blob/f0b6afec6ec69f0ffe9c1a376164c50e001ce821/app/assets/stylesheets/blacklight/_facets.scss#L114-L115 */

      /* .card top border  */
      border-color: var(--bs-card-border-color) !important;

      .card-header {
        background-color: var(--bs-card-cap-bg) !important;
        .btn {
          color: var(--bs-body-color);
        }
      }

      .selected {
        /* override blacklight 8.3 */
        --bs-success-rgb: var(--bs-body-color);
        font-weight: bold;
      }
    }
    .card-header {
      --bs-card-border-width: 0;
    }
  }
}
