#pre-footer {
  --bs-link-color-rgb: var(--stanford-90-black-rgb);
  --bs-link-hover-color-rgb: var(--stanford-90-black-rgb);

  background-color: var(--stanford-fog-light);
  margin-top: 1rem;

  @media (width >= 992px) {
    #sul-footer-img {
      container-type: size;
    }
  }

  .primary-menu .prefooter-logo {
    display: block;

    --sul-logo-width: 16.25rem;
  }

  .primary-menu {
    --sul-link-font-weight: 600;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .secondary-menu {
    --sul-link-font-weight: 400;

    ul {
      margin-bottom: 0;

      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}

#su-footer {
  --bs-dark-rgb: var(--stanford-cardinal-rgb);
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color-rgb: 255, 255, 255;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul {
    a {
      font-size: min(calc(0.825rem + 0.3vw), 1.25rem);
    }
  }

  .copyright {
    font-size: 0.8125rem;
  }
}

@media (width < 576px) {
  #su-footer {
    ul a {
      font-weight: 600;
    }

    .copyright {
      font-size: 0.9375rem;
    }
  }
}

@media (width < 768px) {
  .prefooter-logo {
    min-height: 30px;
  }
}

.su-logo {
  --bs-link-hover-decoration: none;

  display: inline-block;
  font-family: Stanford, var(--font-family-serif);
  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 0.75;
  text-decoration: none;
}
