@import "https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap";

@font-face {
  font-family: Stanford;
  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff")
      format("woff"),
    url("https://www-media.stanford.edu/assets/fonts/stanford.ttf")
      format("truetype");
  font-weight: 300;
  font-display: swap;
}

:root {
  --font-family-serif: "Source Serif 4", serif;
  --bs-font-sans-serif: "Source Sans 3";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

h6,
.h6 {
  text-transform: uppercase;
}

dt {
  font-weight: 600;
}

dd {
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/* xs */
@media (width < 576px) {
  p {
    font-size: 0.9rem;
  }
}

/* xl */
@media (width >= 1200px) {
  h1,
  .h1 {
    font-size: 2.25rem;
    line-height: 2.375rem;
  }

  h2,
  .h2 {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  h4,
  .h4 {
    font-size: 1.25rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
  }

  h6,
  .h6 {
    font-size: 0.9rem;
  }

  dt {
    font-size: 1rem;
  }

  dd {
    font-size: 1rem;
  }

  p {
    font-size: 1.25rem;
  }
}
